/*================ GOOGLE FONTS ============== */
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');

/*================ VARIABLE CSS ============== */
:root {
    /*============= FONT AND TYPOGRAPHY =============== */
    --body-font: "Mitr", sans-serif;
    --normal-font-size: 1rem;

    /*============= FONT WEIGHT =============== */
    --font-regular: 400;
    --font-semi-bold: 600;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Mitr', sans-serif;
}
.container {
    max-width: 1600px;
}

.nav-bar{
    width: 100%;
    display: flex;
    align-items: center;
    list-style: none;
    position: relative;
    justify-content: space-between;
    margin-top: 10px;
}

ul {
    display: flex;
}

ul li a {
    display: inline-block;
    text-decoration: none;
    color: black;
    transition: 0.15s ease-in-out;
    position: relative;
    font-size: 25px;
}
.login__button {
    padding: 10px 0px;
    width: 106px;
    border-radius: 15px;
    background-color: #791118;
    border: none;
}
.login__button a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 400;
}
.signup__button {
    padding: 10px 0px;
    width: 106px;
    border-radius: 15px;
    background-color: #1D1B1B;
    border: none;
}
.signup__button a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 400;
}

.open-menu, .close-menu {
    position: absolute;
    cursor: pointer;
    font-size: 1.5rem;
    display:none;
}
.open-menu {
    top: 59%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top: 30px;
    right: 20px;
}
#check {
    display: none;
}
.active {
    font-weight: bold;
}
.menu li a:hover {
    font-weight: bold;
}
.ticker-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: black; /* Set background to black */
    white-space: nowrap;
}
.text-update {
    color: white;
}
.text-update p {
    margin-top: 1rem;
    transform: translateX(100%);
    animation: moving 25s linear infinite;
}
.background__image {
    background-image: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,0.4) 42%, rgba(0,0,0,0) 100%);
    margin: 3rem 100px 50px 100px;
    border-radius: 50px;
}
.banner__2__width__height {
   margin-top: 3rem;
}
.image__container {
    position: relative;
    display: inline-block;
    width: 100%; /* Ensures the container is only as large as the image */
}
.image__container img.banner__2__width__height {
    width: 100%;
    display: block;
    position: relative;
    z-index: -1;
}

.text-overlay {
    position: absolute;
    top: 12%;
    left: 7%;
    color: white;
    font-size: 40px;
    font-weight: 600;
    text-align: left;

}
.text-overlay-2 {
    margin-top: 1rem;
    position: absolute;
    top: 20%;
    left: 7%;
    color: white;
    max-width: 600px;
    font-size: 20px;
    font-weight: 300;
}
.button__overlay {
    margin-top: 1rem;
    position: absolute;
    top: 73%;
    left: 7%;
    color: white;
    background-color: #791118;
    font-size: 25px;
    font-weight: 500;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 53px;
    display: flex;
    align-items: center;
} 
.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    padding: 7px 0 0 4px;
}
.play__color {
    color: #791118;
    margin-top:4px
}
@keyframes moving {
    0%{
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 1760px) {
    .background__image {
        border-radius: 32px;
    }
}
@media screen and (max-width: 1688px) {
    .text-overlay-2 {
        font-size: 18px;
        left: 8%;
        max-width: 500px;
    }
    .text-overlay {
        left: 8%;
        font-size: 35px;
    }
}
@media screen and (max-width: 1672px) {
    .text-overlay-2 {
        font-size: 16px;
        left: 8%;
        max-width: 500px;
    }
    .text-overlay {
        left: 8%;
        font-size: 30px;
    }
}
@media screen and (max-width: 1567px) {
    ul .menu li  a {
        font-size: 23px;

    }
    .menu {
        padding: 21px 0 0 0;
    }
    .text-overlay-2 {
        font-size: 16px;
        left: 8%;
        max-width: 500px;
    }
    .text-overlay {
        left: 8%;
        font-size: 25px;
    }
    .button__overlay {
        margin-top: 0.5rem;
        position: absolute;
        top: 70%;
        left: 7%;
        color: white;
        background-color: #791118;
        font-size: 20px;
        font-weight: 500;
        border: none;
        padding: 10px 20px 10px 20px;
        border-radius: 53px;
        display: flex;
        align-items: center;
    } 
    .circle {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: white;
        display: inline-block;
        padding: 4px 0 0 4px;
    }
    .play__color {
       font-size: 30px;
    }
}
@media screen and (max-width: 1550px) {
    ul li a {
        font-size: 22px;
    }
    .text-overlay-2 {
        font-size: 13px;
        left: 9%;
        max-width: 400px;
    }
    .text-overlay {
        left: 9%;
    }
    .button__overlay {
        margin-top: 0.5rem;
        position: absolute;
        top: 70%;
        left: 8%;
        color: white;
        background-color: #791118;
        font-size: 18px;
        font-weight: 500;
        border: none;
        padding: 10px 20px 10px 20px;
        border-radius: 53px;
        display: flex;
        align-items: center;
    } 
    .circle {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: white;
        display: inline-block;
        padding: 7px 0 0 4px;
    }
    .play__color {
       font-size: 25px;
    }
}
@media screen and (max-width: 1472px){
    ul  li a {
        font-size: 21px;
    }
}
@media screen and (max-width: 1421px){
    ul li a {
        font-size: 20px;
    }
}
@media screen and (max-width: 1391px){
    ul li a {
        font-size: 20px;
    }
    .text-overlay-2 {
        font-size: 13px;
        left: 9%;
        max-width: 400px;
    }
    .text-overlay {
        left: 9%;
    }
    .button__overlay {
        margin-top: 0.5rem;
        position: absolute;
        top: 70%;
        left: 8%;
        color: white;
        background-color: #791118;
        font-size: 18px;
        font-weight: 500;
        border: none;
        padding: 10px 20px 10px 20px;
        border-radius: 53px;
        display: flex;
        align-items: center;
    } 
    .circle {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: white;
        display: inline-block;
        padding: 7px 0 0 4px;
    }
    .play__color {
        font-size: 20px;
    }
    
}
@media screen and (max-width: 1359px) {
    .menu{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: #fff;
        transition: all 0.2 ease-in-out;
        box-shadow: 0 2px 16px hsla(220, 32%, 8%, .3);
    }
    li.menu__list:nth-child(1) {
        margin-top: 8rem;
    }
    li.menu__list {
        display: block;
        margin: auto;
        text-align: center;
        margin-top: 2rem;
    }
    .login__button {
        position: relative;
        top: 20px;
        display: block;
        margin: auto;
        width: 160px;
    }
    .signup__button {
        position: relative;
        top: 40px;
        display: block;
        margin: auto;
        width: 160px;

    }
    .open-menu {
        display: block;
    }
    #check:checked ~ .menu {
        right: 0;
    }
    .text-update p {
        font-size: 14px;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    .open-menu{
        position: absolute;
        top: 32px;
        right: 20px;
        cursor: pointer;
        font-size: 1.5rem;
        z-index: 110;
    }

    .close-menu {
        position: absolute;
        top: 15px;
        right: 20px;
        cursor: pointer;
        font-size: 1.5rem;
        z-index: 110;
    }

    .menu-open {
        right: 0; /* Move the menu to the visible area */
    }
    .close-menu {
        display: none;
    }
    .logo {
        width: 50px;
        margin-top: 15px;
    }

    .text-overlay-2 {
        font-size: 13px;
        left: 9%;
        max-width: 400px;
    }
    .text-overlay {
        left: 9%;
    }
    .button__overlay {
        margin-top: 0.5rem;
        position: absolute;
        top: 70%;
        left: 9%;
        color: white;
        background-color: #791118;
        font-size: 18px;
        font-weight: 500;
        border: none;
        padding: 10px 20px 10px 20px;
        border-radius: 53px;
        display: flex;
        align-items: center;
    } 
    .circle {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: white;
        display: inline-block;
        padding: 1px 0 0 4px;
    }
    .play__color {
        font-size: 20px;
    }
    
}

@media screen and (max-width: 1243px) {
    .text-overlay-2 {
        font-size: 12px;
        left: 10%;
        max-width: 400px;
    }
    .text-overlay {
        left: 10%;
        top: 15%
    }
    .button__overlay {
        margin-top: 0.5rem;
        position: absolute;
        top: 70%;
        left: 10%;
        color: white;
        background-color: #791118;
        font-size: 18px;
        font-weight: 500;
        border: none;
        padding: 10px 20px 10px 20px;
        border-radius: 53px;
        display: flex;
        align-items: center;
    } 
    .circle {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: white;
        display: inline-block;
        padding: 1px 0 0 4px;
    }
    .play__color {
        font-size: 20px;
    }
}
@media screen and (max-width: 1163px) {
    .text-overlay-2 {
        font-size: 12px;
        left: 8%;
        max-width: 400px;
    }
    .text-overlay {
        left: 8%;
        top: 15%
    }
    .button__overlay {
        margin-top: 0.5rem;
        position: absolute;
        top: 70%;
        left: 8%;
        color: white;
        background-color: #791118;
        font-size: 16px;
        font-weight: 500;
        border: none;
        padding: 10px 20px 10px 20px;
        border-radius: 53px;
        display: flex;
        align-items: center;
    } 
    .circle {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: white;
        display: inline-block;
        padding: 1px 0 0 4px;
    }
    .play__color {
        font-size: 20px;
    }
    .background__image {
        margin: 3rem 50px 50px 50px;
        border-radius: 24px;
    }
    .ri-play-large-fill:before {
        position: relative;
        bottom: 3px;
    }
}

@media screen and (max-width: 876px) {
    .button__overlay {
        margin-top: 0.1rem;
        position: absolute;
        top: 72%;
        left: 8%;
        color: white;
        background-color: #791118;
        font-size: 14px;
        font-weight: 500;
        border: none;
        padding: 7px 20px 7px 20px;
        border-radius: 53px;
        display: flex;
        align-items: center;
    } 
    .circle {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: white;
        display: inline-block;
        padding: 0px 0 10px 4px;
        position: relative;
        top: 1px;
    }
    .play__color {
        font-size: 14px;
    }
    .ri-play-large-fill:before {
        position: relative;
        bottom: 1px;
    }
   
}
@media screen and (max-width: 858px) {
    .text-overlay-2 {
        font-size: 10px;
        left: 8%;
        max-width: 350px;
    }
    .text-overlay {
        left: 8%;
        top: 18%;
        font-size: 14px;
    }
}
@media screen and (max-width: 792px) {
    li {
        width: 80%;
    }
    .text-update p {
        font-size: 12px;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    .logo {
        width: 40px;
        margin-top: 15px;
    }
    .text-overlay-2 {
        font-size: 9px;
        left: 10%;
        top: 25%;
        max-width: 350px;
    }
    .text-overlay {
        left: 10%;
        top: 20%;
        font-size: 17px;
    }
    
    .button__overlay {
        margin-top: -0.5rem;
        position: absolute;
        top: 70%;
        left: 10%;
        color: white;
        background-color: #791118;
        font-size: 14px;
        font-weight: 500;
        border: none;
        padding: 7px 20px 7px 20px;
        border-radius: 53px;
        display: flex;
        align-items: center;
    } 
    .circle {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: white;
        display: inline-block;
        padding: 0px 0 10px 4px;
        position: relative;
        top: 1px;
    }
    .play__color {
        font-size: 14px;
    }
    .ri-play-large-fill:before {
        position: relative;
        bottom: 1px;
    }
    .background__image {
        border-radius: 20px
    }
}
@media screen and (max-width: 722px) {
    .button__overlay {
        margin-top: -0.5rem;
        position: absolute;
        top: 70%;
        left: 65%;
        color: white;
        background-color: #791118;
        font-size: 14px;
        font-weight: 500;
        border: none;
        padding: 7px 20px 7px 20px;
        border-radius: 53px;
        display: flex;
        align-items: center;
    } 
    .circle {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: white;
        display: inline-block;
        padding: 0px 0 10px 4px;
        position: relative;
        top: 1px;
    }
    .play__color {
        font-size: 12px;
    }
    .ri-play-large-fill:before {
        position: relative;
        bottom: 3px;
        right: 2px
    }
    .background__image {
        margin: 3rem 30px 50px 30px;
        border-radius: 24px;
    }
}
@media screen and (max-width: 610px) {
    .button__overlay {
        margin-top: -0.5rem;
        position: absolute;
        top: 70%;
        left: 65%;
        color: white;
        background-color: #791118;
        font-size: 12px;
        font-weight: 500;
        border: none;
        padding: 7px 20px 7px 20px;
        border-radius: 53px;
        display: flex;
        align-items: center;
    } 
    .play__color {
        font-size: 11px;
    }
    .ri-play-large-fill:before {
        position: relative;
        bottom: 2px;
        right: 1px
    }
}

@media screen and (max-width: 584px) {
    .text-overlay-2 {
        font-size: 8px;
        left: 9%;
        top: 25%;
        max-width: 280px;
    }
    .text-overlay {
        left: 9%;
        top: 20%;
        font-size: 14px;
    }
    
    .button__overlay {
        margin-top: -0.5rem;
        position: absolute;
        top: 68%;
        left: 67%;
        color: white;
        background-color: #791118;
        font-size: 11px;
        font-weight: 500;
        border: none;
        padding: 7px 15px 7px 15px;
        border-radius: 53px;
        display: flex;
        align-items: center;
    } 
    .circle {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: white;
        display: inline-block;
        padding: 0px 0 10px 4px;
        position: relative;
        top: 1px;
    }
    .play__color {
        font-size: 12px;
    }
    .ri-play-large-fill:before {
        position: relative;
        bottom: 1px;
        right: 2px
    }
    .background__image {
        border-radius: 14px
    }

}

@media screen and (max-width: 530px) {
    li a {
        font-size: 18px;
    }
    .text-update p {
        font-size: 10px;
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
    }

    li.logo {
        width: 10vw;
    }
    .open-menu {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        font-size: 1.1rem;
        z-index: 110;
    }
    ul {
        margin-bottom: 0 !important;
    }
    .logo {
        margin-top: 0;
        margin-bottom: 5px;
    }
    .text-overlay-2 {
        max-width: 270px;
        font-size: 7px;
        left: 9%;
        top: 25%;
    }
    .text-overlay {
        left: 9%;
        top: 20%;
        font-size: 14px;
    }
    .button__overlay {

        position: absolute;
        top: 65%;
        left: 64%;
        color: white;
        background-color: #791118;
        font-size: 11px;
        font-weight: 500;
        border: none;
        padding: 7px 15px 7px 15px;
        border-radius: 53px;
        display: flex;
        align-items: center;
    } 
    .circle {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: white;
        display: inline-block;
        padding: 0px 0 10px 0px;
        position: relative;
        top: 1px;
    }
    .play__color {
        font-size: 12px;
    }
    .ri-play-large-fill:before {
        position: relative;
        bottom: 1px;
        left: 1px
    }
    .background__image {
        margin: 0rem 30px 50px 30px;
    }
    .banner__2__width__height {
        margin-top: 2rem;
     }
}
@media screen and (max-width: 500px) {
 
    .button__overlay {
        position: absolute;
        top: 64%;
        left: 65%;
        color: white;
        background-color: #791118;
        font-size: 8px;
        font-weight: 500;
        border: none;
        padding: 7px 20px 7px 20px;
        border-radius: 53px;
        display: flex;
        align-items: center;
    } 
   
    .ri-play-large-fill:before {
        position: relative;
        bottom: 1px;
        right: 2px
    }
    .background__image {
        margin: 0rem 30px 50px 30px;
        border-radius: 10px;
    }
}
@media screen and (max-width: 470px) {
    .text-overlay-2 {
        font-size: 6px;
        left: 11%;
        top: 25%;
        max-width: 240px;
    }
    .text-overlay {
        left: 11%;
        top: 23%;
        font-size: 12px;
    }
    
    .button__overlay {
        margin-top: -1.5rem;
        position: absolute;
        top: 73%;
        left: 67%;
        color: white;
        background-color: #791118;
        font-size: 6px;
        font-weight: 500;
        border: none;
        padding: 7px 20px 7px 20px;
        border-radius: 53px;
        display: flex;
        align-items: center;
    } 
    .circle {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: white;
        display: inline-block;
        padding: 0px 0px 10px 0px;
        position: relative;
        top: 1px;
    }
    .play__color {
        font-size: 9px;
    }
    .ri-play-large-fill:before {
        position: relative;
        bottom: 2px;
        right: 1px
    }

}
@media screen and (max-width: 434px) {
    .text-overlay-2 {
        font-size: 6px;
        left: 9%;
        top: 21%;
        max-width:210px;
    }
    .text-overlay {
        left: 9%;
        top: 19%;
        font-size: 12px;
    }
    
    .button__overlay {
        margin-top: -1.5rem;
        position: absolute;
        top: 73%;
        left: 66%;
        color: white;
        background-color: #791118;
        font-size: 6px;
        font-weight: 500;
        border: none;
        padding: 7px 20px 7px 20px;
        border-radius: 53px;
        display: flex;
        align-items: center;
    } 
    .circle {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: white;
        display: inline-block;
        padding: 0px 0px 10px 0px;
        position: relative;
        top: 1px;
    }
    .play__color {
        font-size: 8px;
    }
    .ri-play-large-fill:before {
        position: relative;
        bottom: 1px;
        right: 1px
    }
}

@media screen and (max-width: 396px) {
    .text-overlay-2 {
        font-size:0.35rem;
        left: 9%;
        top: 21%;
        max-width:200px;
    }
    .text-overlay {
        left: 9%;
        top: 19%;
        font-size: 10px;
    }
    
    .button__overlay {
        position: absolute;
        top: 70%;
        left: 70%;
        color: white;
        background-color: #791118;
        font-size: 6px;
        font-weight: 500;
        border: none;
        padding: 7px 10px 7px 10px;
        border-radius: 53px;
        display: flex;
        align-items: center;
    } 
    .circle {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: white;
        display: inline-block;
        padding: 0px 0px 10px 0px;
        position: relative;
        top: 1px;
    }
    .play__color {
        font-size: 8px;
    }
    .ri-play-large-fill:before {
        position: relative;
        bottom: 1px;
        left: 1px
    }
    .background__image {
        margin: 0rem 20px 50px 20px;
        border-radius: 10px;
    }
}

@media screen and (max-width: 360px) {
    li a {
        font-size: 18px;
    }
    .text-update p {
        font-size: 8px;
        margin-top: 0.1rem;
        margin-bottom: 0.1rem;
    }
    li.logo {
        width: 9vw;
    }
    .open-menu {
        position: absolute;
        top: 14px;
        right: 20px;
        cursor: pointer;
        font-size: 1.1rem;
        z-index: 110;
    }
    ul {
        margin-bottom: 0 !important;
    }
    .logo {
        margin-top: 0;
        margin-bottom: 5px;
    }
    .text-overlay-2 {
        font-size: 0.35rem;
        left: 9%;
        top: 21%;
        max-width: 180px;
    }
    .text-overlay {
        left: 9%;
        top: 20%;
        font-size: 10px;
    }
    
    .button__overlay {
        margin-top: -1.5rem;
        position: absolute;
        top: 72%;
        left: 70%;
        color: white;
        background-color: #791118;
        font-size: 5px;
        font-weight: 500;
        border: none;
        padding: 5px 15px 5px 15px;
        border-radius: 53px;
        display: flex;
        align-items: center;
    } 
    .circle {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: white;
        display: inline-block;
        padding: 0px 0px 10px 0px;
        position: relative;
        top: 1px;
    }
    .play__color {
        font-size: 9px;
    }
    .ri-play-large-fill:before {
        position: relative;
        bottom: 2px;
        left: 1px
    }

}    